<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel='icon' href='/img/favicon.png'>
        <link rel="stylesheet" href='/css/styles.css'>

    </head>
    <body>
        <div class="main-content">
        {{>headers}}
         <p>About hbs file</p>
        <img class='portrait' src='/img/fls.jpg'>
        </div>
        {{>footer}}
    </body>
</html>